<header>
  <div class="banner">
    <div class="banner-logo-container mb-4">
      <img class="banner-logo" src="assets/icon.png" />
    </div>
    <h1>
      Indian Grocery Store
    </h1>
  </div>
  <div class="text-center info-text">
    <div class="fw-bold">
      Fresh from Farm to Your Kitchen
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="me-5">
        <div>Minimum Order Value : ₹ 50</div>
        <div>Delivery Time : 30 minutes</div>
      </div>
      <div>
        <div>Delivery Charge :₹ 5 below ₹ 50 order</div>
        <div>Delivery Locations: All over Lucknow</div>
      </div>
    </div>
    <div>
      Please reach on
      <a href="https://wa.me/+918887004336" target="_blank">+918887004336</a>
      our Hotline Number for direct Order over Call/Whatsapp
    </div>
  </div>
  <div class="divider"></div>
</header>
