.category-container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  .category-scroll {
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .category-container {
    width: 100%;
  }
}
